@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Ad Lib';
  src: url('/fonts/adlib.ttf') format('truetype'),;
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
